<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mynews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nyt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.HelpActivity" />
        <activity android:name=".activities.WebViewMainActivity" />
        <activity
            android:name=".data.AndroidDatabaseManager"
            android:label="@string/app_name" />

        <receiver android:name=".broadcastreceiver.NotificationReceiver"></receiver>

        <activity android:name=".activities.SearchArticlesActivity" />
        <activity android:name=".activities.DisplaySearchArticlesActivity" />
        <activity android:name=".activities.WebViewSearchActivity" />
        <activity android:name=".activities.DisplayNotificationsActivity" />
        <activity android:name=".activities.NotificationsActivity" />
    </application>

</manifest>